:root{
    --main-color:rgba(192, 192, 169,1);
    --heading1:1.6rem;
    --heading2:1.4rem;
    --heading3:1.25rem;
    --heading4:1rem;
    --body:1rem;
    --body2:0.9rem;
    --weight1:700;
    --weight2:400;
    --lnh120:1.2;
    --lnh150:1.5;
}
@media (min-width:2000px){
    .common-frame{
        width:1920px;
        margin:0 auto;
    }
}
p{
    line-height: var(--lnh150);
}
.abore{
    font-family: "Aboreto", system-ui;
    font-weight: var(--weight2);
}
h1{
    font-size: var(--heading1);
    font-weight:var(--weight1);
}
h2{
    font-size: var(--heading2);
    font-weight:var(--weight1);
}
h3{
    font-size: var(--heading3);
    font-weight:var(--weight1);
}
h4{
    font-size: var(--heading4);
    font-weight:var(--weight1);
}

html{
    font-size:20px;
    font-family: 'Pretendard',sans-serif;
}
.common-frame{
    width:auto;
    margin:0 3rem;
}
@media (max-width:1024px){
    html{
        font-size:18px;
    }
    .common-frame{
        width:auto;
        margin:0 2rem;
    }
}
@media (max-width:768px){
    html{
        font-size:14px;
    }
    .common-frame{
        width:auto;
        margin:0 1rem;
    }
}