.ltr{
    transform: translateX(-20px);
    transition:all 1s ease 0s;
    opacity: 0;
}
.ltr.on{
    opacity: 1;
    transform: translateX(0);
}
.fltr{
    overflow: hidden;
}
.fltr img{
    width:100%;
    transition: all 1s ease 0s;
    transform:translateX(-100%);
}
.fltr.on img{
    transform: translateX(0%);
}