.hero{
    height:100vh;
    background: url("../img/hero-banner.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.hero .common-frame{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.hero h1{
    font-size:5rem;
    line-height: 0.9;
    font-weight: var(--weight2);
}
.aboutme{
    margin-top: 9rem;
    text-align: center;
}
.ac1{
    margin-bottom: 1rem;
}
.about-title{
    font-size: 5rem;
    font-weight: var(--weight2);
    margin-bottom: 6rem;
}
.about-content{
    display: flex;
    gap:1rem;
    text-align: left;
}
.about-txt{
    width:50%;
    padding-right: 7.75rem;
    box-sizing: border-box;
}
.about-img{
    width:50%;
}
.about-txt h3{
    margin-bottom: 5rem;
}
.about-txt h4{
    margin-bottom: 1rem;
}
.about-txt p{
    margin-bottom: 3rem;
    line-height: var(--lnh150);
}

