@media (max-width:768px){
    .hero{
        height:100vh;
    }
    .hero h1{
        font-size:40px;
    }

    .about-content{
        flex-direction: column-reverse;
    }

    .about-txt{
        width:auto;
        box-sizing: border-box;
    }
    .about-img{
        width:auto;
    }
    .about-txt h3{
        margin-top: 2rem;
    }

    .certi-list>li{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .certi-list>li span:nth-of-type(1){order:3;}
    .certi-list>li span:nth-of-type(2){order:2;}
    .certi-list>li strong{order:1;}
    .aboutme2 .common-frame{
        display: flex;
        gap:1rem;
        flex-direction: column;
    }
    .aboutme2-img{
        width:auto;
    }
    .aboutme2-txt{
        width:auto;
        margin-top:1rem;
    }
    .aboutme2-txt h3{
        margin-bottom: 2rem;
    }

    .grid-skill{
        display: grid;
        grid-template-columns: repeat(2,minmax(50px,1fr));
        gap:1rem;
        text-align: left;
    }
    /* ì„  */
}

@media (max-width:320px){
    .about-title {
        font-size: 3.4rem;
    }
    .grid-skill{
        display: grid;
        grid-template-columns: repeat(1,minmax(50px,1fr));
        gap:1rem;
        text-align: left;
    }

}