@media (max-width:768px){
    .hero{
        height:100vh;
    }
    .hero h1{
        font-size:40px;
    }

    .about-content{
        flex-direction: column-reverse;
    }

    .about-txt{
        width:auto;
        box-sizing: border-box;
    }
    .about-img{
        width:auto;
    }
    .about-txt h3{
        margin-top: 2rem;
    }

    /* ì„  */
}

@media (max-width:320px){
    .about-title {
        font-size: 3.4rem;
    }
}