.hero{
    height:100vh;
    background: url("../img/hero-banner.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.hero .common-frame{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.hero h1{
    font-size:5rem;
    line-height: 0.9;
    font-weight: var(--weight2);
}
.aboutme{
    margin-top: 9rem;
    text-align: center;
}
.ac1{
    margin-bottom: 1rem;
}
.about-title{
    font-size: 5rem;
    font-weight: var(--weight2);
    margin-bottom: 6rem;
}
.about-content{
    display: flex;
    gap:1rem;
    text-align: left;
}
.about-txt{
    width:50%;
    padding-right: 7.75rem;
    box-sizing: border-box;
}
.about-img{
    width:50%;
}
.about-txt h3{
    margin-bottom: 5rem;
}
.about-txt h4{
    margin-bottom: 1rem;
}
.about-txt p{
    margin-bottom: 3rem;
    line-height: var(--lnh150);
}
.aboutme2{
    margin-top: 10rem;
}
.aboutme2 .common-frame{
    display: flex;
    gap:1rem;
}
.aboutme2-img{
    width:50%;
}
.aboutme2-txt{
    width:50%;
    margin-top:3rem;
}
.aboutme2-txt h3{
    margin-bottom: 5rem;
}
.aboutme2-txt p{
    line-height: var(--lnh150);
    margin-bottom: 3rem;
}
.about-dl{
    display: grid;
    grid-template-columns: repeat(2,minmax(50px,1fr));
    gap:1rem;
    margin-bottom: 3rem;
}
.about-dl>div{
    display: flex;
    gap:1rem;
}
.about-dl>div dt{
    flex:1;
    font-weight: var(--weight1);
    text-transform: uppercase;
}
.about-dl>div dd{
    flex:1;
}
.certi h4{
    margin-bottom: 1rem;
}
.certi-list>li{
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 150px 1.5fr 1fr;
}
.skill{
    margin-top: 10rem;
    background-color: #363232;
    padding:6rem 0;
    color:#fff;
    text-align: center;
}
.skill h3{
    margin-bottom: 1rem;
}
.skill h3+p{
    margin-bottom: 2rem;
}
.grid-skill{
    display: grid;
    grid-template-columns: repeat(5,minmax(50px,1fr));
    gap:1rem;
    text-align: left;
}
.grid-skill>li{
    border:1px solid rgba(255, 255, 255, 0.486);
    padding:2rem;
}
.grid-skill>li h4{
    margin-bottom: 2rem;
}
.grid-skill>li p{
    border-top: 1px solid rgba(255, 255, 255, 0.486);
    padding-top: 1rem;
}
.popup-slider{
    width:100%;
}
.popup-slider h4{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.popup{
    margin-top: 10rem;
}
.popup h3{
    text-align: center;
    margin-bottom: 1rem;
}
.popup h3+p{
    text-align: center;
    margin-bottom: 2rem;
}
.banner{
    margin-top: 10rem;
}
.banner h3{
    text-align: center;
    margin-bottom: 1rem;
}
.banner h3+p{
    text-align: center;
    margin-bottom: 2rem;
}
.banner-txt{
    margin-top: 1rem;
    display: flex;
    gap:1rem;
}
.banner-txt>*{
    flex:1;
}
.project{
    margin-top: 10rem;
}
.project h3{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 6rem;
}
.project p{
    text-align: center;
    margin-bottom: 2rem;
}
.project-sticky-menu{
    display: flex;
    gap:1rem;
    position: sticky;
    left:0;
    top:4.5rem;
    justify-content: center;
}
.btn-menu{
    display: none;
}
.header-smart{
    display: none;
}
.project-sticky-menu a{
    display: block;
    background-color: #fff;
    padding:0.5rem 2.4rem;
    border:1px solid #000;
}
.project-sticky-menu a:hover{
    background-color: var(--main-color);
    color:#fff;
}
.project-img{
    line-height: 0;
    text-align: center;
}
.banner-slider{
    max-width: 1920px;
}
.contact{
    background-color: #000;
    color:#fff;
    padding:6rem 0 10rem;
    text-align: center;
}
.ct1{
    margin-bottom: 2rem;
}
.contact h2{
    font-size:5rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.ct2{
    font-size: 2rem;
    margin-bottom: 4rem;
}
.contact h4{
    margin-bottom: 1rem;
}
.contact-menu{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.contact-menu a{
    font-size:0.9rem;
    padding:0.5rem 1rem;
    border:1px solid rgba(255, 255, 255, 0.512);
    display: inline-block;
}

header{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    padding:1rem 0;
    z-index: 100000;
    /* filter: blur(0); */
    opacity: 1;
    pointer-events: auto;
    transition:all 1s ease 0s;
}
header.fadeout{
    filter: blur(100px);
    opacity: 0;
    pointer-events: none;
}
.gnb{
    display: inline-flex;
    gap:2rem;
    font-size:0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding:1rem 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}
.gnb a:hover{
    color:var(--main-color);
}



@media (max-width:1500px){

    .grid-skill{
        display: grid;
        grid-template-columns: repeat(4,minmax(50px,1fr));
        gap:1rem;
        text-align: left;
    }

}